{% extends 'base.html' %}
{% block admin-content %}
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">执行状态 </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th style="width: 10px">Name</th>
                        <th style="width: 40px">Progress</th>
                        <th style="width: 10px">Status</th>
                    </tr>
                    {% for i in task %}
                        <tr>
                            <td>{{ i.name }}</td>
                            <td>{{ i.task }}</td>
                            <td>
                                <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar progress-bar-success" style="width: {{ i.status }}%"></div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
        <!-- /.box -->
    </div>


{% endblock %}