{% extends 'index.html' %}
{% load custom %}
{% block admin-content %}

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-users"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">用户总数</span>
                    <span class="info-box-number">2
                        <small>th</small></span>
                    </div>
                    <!-- /.info-box-content -->
                </div>

                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa  fa-cubes"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">主机总数</span>
                        <span class="info-box-number">{{ host | length }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->

            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-safari"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Event</span>
                        <span class="info-box-number">{{ event | length }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-chrome"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">New Members</span>
                        <span class="info-box-number">2,000</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>
    </div>

    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">执行状态 </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Task</th>
                        <th>Progress</th>
                        <th style="width: 10px">Label</th>
                    </tr>
                    {% for i in task %}

                        <tr>
                            <td>{{ i.name }}</td>
                            <td>{{ i.task }}</td>
                            <td>

                                <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar progress-bar-success"
                                         style="width: {{ i.status }}%"></div>
                                </div>
                            </td>
                            <td>
                                <span class="badge bg-green">{{ i.status }}%</span>
                            </td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
        <!-- /.box -->
    </div>
    <div class="col-xs-6 col-md-3 text-center">
        {#        <div style="display:inline;width:90px;height:90px;">#}
        <div id="main" style="width: 300px;height:200px;"></div>
        {#        </div>#}

        <div class="knob-label">Disk Space</div>
    </div>
    {#    <div class="col-md-12">#}
    {#        <div class="box">#}
    {#            <div class="box-header">#}
    {#                <h3 class="box-title">主机列表</h3>#}
    {#            </div>#}
    {#            <!-- /.box-header -->#}
    {#            <div class="box-body">#}
    {#                {% include 'host_table.html' %}#}
    {#            </div>#}
    {#            <!-- /.box-body -->#}
    {#        </div>#}
    {#        <!-- /.box -->#}
    {##}
    {#    </div>#}
{% endblock %}
{% block admin-js %}
    <script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                x: 'left',
                data: ['已使用', '未使用']
            },
            toolbox: {
                show: true,
                feature: {
                    mark: {show: true},
                    dataView: {show: true, readOnly: false},
                    magicType: {
                        show: true,
                        type: ['pie', 'funnel'],
                        option: {
                            funnel: {
                                x: '25%',
                                width: '50%',
                                funnelAlign: 'center',
                                max: 1548
                            }
                        }
                    },
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            calculable: true,
            series: [
                {
                    name: '磁盘使用率',
                    type: 'pie',
                    radius: ['50%', '70%'],
                    itemStyle: {
                        normal: {
                            label: {
                                show: true
                            },
                            labelLine: {
                                show: false
                            }
                        },
                        emphasis: {
                            label: {
                                show: true,
                                position: 'center',
                                textStyle: {
                                    fontSize: '30',
                                    fontWeight: 'bold'
                                }
                            }
                        }
                    },
                    data: [
                        {
                            value: 335, name: '已使用', itemStyle: {
                            normal: {color: 'rgb(0,178,238)'}
                        }
                        },
                        {
                            value: 310, name: '未使用', itemStyle: {
                            normal: {color: 'rgb(234,234,234)'}
                        }
                        },

                    ]
                }
            ]
        };


        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    </script>
{% endblock %}