{% extends 'index.html' %}
{% block admin-content %}
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">计划任务</h3>

                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                                       aria-describedby="example2_info">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1" aria-sort="ascending"
                                            aria-label="Rendering engine: activate to sort column descending">ID
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1"
                                            aria-label="Browser: activate to sort column ascending">Name
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            colspan="1"
                                            aria-label="Platform(s): activate to sort column ascending">Task
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                            width="80px"
                                            colspan="1"
                                            aria-label="Platform(s): activate to sort column ascending">操作
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for i in task %}
                                        <tr>
                                            <td>{{ i.id }}</td>
                                            <td>{{ i.name }}</td>
                                            <td>{{ i.task }}</td>
                                            <td>
                                                <div class="nav-divider">
                                                    <span class="glyphicon glyphicon-edit"
                                                          id="checkbox1" onclick="Edit(this);"></span>
                                                    <span class="glyphicon glyphicon-trash" style="margin-left: 10px"
                                                          id="checkbox1"
                                                          onclick="Edit(this);"></span>
                                                </div>


                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                    <tfoot>

                                    </tfoot>
                                </table>
                                <div class="nav-divider">
                                        <span class="glyphicon glyphicon-unchecked" style="margin-left: 10px"
                                              id="checkbox1" onclick="Edit(this);"></span>
                                        <span class="glyphicon glyphicon-plus" style="margin-left: 10px"
                                              id="checkbox1" onclick="Plus(this);"></span>
                                        <span class="glyphicon glyphicon-trash" style="margin-left: 10px"
                                              id="checkbox1"
                                              onclick="Edit(this);"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <div class="col-md-6">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">执行状态 </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>Task</th>
                        <th>Progress</th>
                        <th style="width: 10px">Label</th>
                    </tr>
                    {% for i in task %}

                        <tr>
                            <td>{{ i.name }}</td>
                            <td>{{ i.task }}</td>
                            <td>

                                <div class="progress progress-xs progress-striped active">
                                    <div class="progress-bar progress-bar-success"
                                         style="width: {{ i.status }}%"></div>
                                </div>
                            </td>
                            <td>
                                <span class="badge bg-green">{{ i.status }}%</span>
                            </td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
        <!-- /.box -->
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">添加记录</h3>
                </div>
                <div class="modal-body" style="margin: 10px">
                    <p>任务名称
                        <input id="input_ip" type="text" class="form-control" placeholder="name">
                    </p>
                    <p>任务详情
                        <input id="input_ip" type="text" class="form-control" placeholder="task">
                    </p>
                    <p>任务状态
                        <input id="input_ip" type="text" class="form-control" placeholder="IP" value="100">
                    </p>

                </div>
                <div class="modal-footer">
                    <button id="bt2" type="button" class="btn btn-default" style="float: left" data-dismiss="modal" onclick="Create_Host()">
                        确定
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">主机列表</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover dataTable" role="grid"
                                   aria-describedby="example2_info">
                                <thead>
                                <tr role="row">
                                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1" aria-sort="ascending"
                                        aria-label="Rendering engine: activate to sort column descending">ID
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1"
                                        aria-label="Browser: activate to sort column ascending">HostName
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1"
                                        aria-label="Platform(s): activate to sort column ascending">IP
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1"
                                        aria-label="Engine version: activate to sort column ascending">Memory
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">Disk
                                    </th>
                                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                                        colspan="1"
                                        aria-label="CSS grade: activate to sort column ascending">City
                                    </th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for i in host %}
                                    <tr role="row" class="even">

                                        <td class="sorting_1">{{ i.id }}</td>
                                        <td>{{ i.hostname }}</td>
                                        <td>{{ i.ip }}</td>
                                        <td>{{ i.mem_total }}</td>
                                        <td>{{ i.disk }}</td>
                                        <td>北京</td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing
                                1
                                to 10 of 57 entries
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                                <ul class="pagination">
                                    <li class="paginate_button previous disabled" id="example2_previous"><a href="#"
                                                                                                            aria-controls="example2"
                                                                                                            data-dt-idx="0"
                                                                                                            tabindex="0">Previous</a>
                                    </li>
                                    <li class="paginate_button active"><a href="#" aria-controls="example2"
                                                                          data-dt-idx="1" tabindex="0">1</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                    data-dt-idx="2"
                                                                    tabindex="0">2</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                    data-dt-idx="3"
                                                                    tabindex="0">3</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                    data-dt-idx="4"
                                                                    tabindex="0">4</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                    data-dt-idx="5"
                                                                    tabindex="0">5</a></li>
                                    <li class="paginate_button "><a href="#" aria-controls="example2"
                                                                    data-dt-idx="6"
                                                                    tabindex="0">6</a></li>
                                    <li class="paginate_button next" id="example2_next"><a href="#"
                                                                                           aria-controls="example2"
                                                                                           data-dt-idx="7"
                                                                                           tabindex="0">Next</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->

    </div>
{% endblock %}
{% block admin-js %}
    <script>
        function Plus() {
            $("#myModal").modal();
            var ip = $('#input_ip').val();
            console.log(ip);
            var group = $('#input_group').val();
            console.log(group);
            var template = $('#input_template').val();
            console.log(template);

            $.ajax({
                url: "/fox/add/",
                type: 'POST',
                data: {hostip: ip, hostgroupName: group, templateName: template},
                success: function () {
                    console.log('创建主机 OK')
                }
            })
        }
    </script>
{% endblock %}