{% load custom %}
<div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="tb" class="table table-bordered table-hover dataTable" role="grid"
                   aria-describedby="example2_info">
                <thead>
                <tr role="row">
                    <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1"
                        colspan="1" aria-sort="ascending"
                        aria-label="Rendering engine: activate to sort column descending">
                                            <span class="glyphicon glyphicon-unchecked"
                                                  id="checkbox1"></span>
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                        colspan="1"
                        aria-label="Browser: activate to sort column ascending">Name
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                        colspan="1"
                        aria-label="Platform(s): activate to sort column ascending">Task
                    </th>
                    <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1"
                        width="80px"
                        colspan="1"
                        aria-label="Platform(s): activate to sort column ascending">操作
                    </th>
                </tr>
                </thead>
                <tbody>

                {% for i in posts %}
                    <tr>
                        <td><span class="glyphicon glyphicon-unchecked"
                                  id="checkbox1"></span></td>
                        <td style="display: none" id="{{ i.id }}">{{ i.id }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.task }}</td>
                        <td>
                            <div class="nav-divider">

                                <span class="glyphicon glyphicon-edit"
                                      id="myclick" onclick="Modal(this)"></span>
                                <span class="glyphicon glyphicon-trash" style="margin-left: 10px"
                                      id="checkbox1"
                                      onclick="Delete(this);"></span>
                            </div>


                        </td>
                    </tr>
                {% endfor %}

                </tbody>
                <tfoot>

                </tfoot>
            </table>
            <div>

            </div>

        </div>

    </div>
</div>


